table {
  width: 700px;
  margin: 0 auto;
}
thead {
  background-color: #404040;
  color: white;
  
}
th {
  padding: 20px;
}
img {
  width: 60px;

}
tbody {
  background-color: #eee;
  
}
td {
  text-align: center;
  padding: 10px;
}
a {
  background-color: #E91E63;
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  margin: 5px;
}
.view {
  background-color: #08ABF4;
}
caption {
  
}